################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hoot.Standard/bin/Release
/Hoot.Standard/obj/Release
/Hoot.Standard/bin/Debug
/Hoot.Standard/obj/Debug
*.user
/SampleApp/obj
